body {
    background-color: darkgreen;
}

.container {
    text-align: center;
}
.title {
    background-color: #381F0B;
    color: white;
}

.main {
    background-color: #381F0B;
    color: black;
    border-radius: 5px;
    margin-top: 20px;
}

.main h1 {
    color: white;
    padding: 10px;
}

.title img {
    width: 400px;
}

.title h1 {
    margin: 0px;
}

.table {
    background-color: white;
    border-radius: 4px;
}


.table td,.table th {
    text-align: center;
}

.userimage {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 2px solid #381F0B;
}

.username {
    margin: 10px;
}

.fa-sort-amount-desc {
    margin-left: 10px;
    color: gray;
}

.fa-sort-amount-desc.active {
    color: black;
}
